@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Registration Page Body


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@font-face
{
	font-family: 'Futura';
	src: url('../fonts/FuturaLT-Book.ttf')  format('truetype');
}

/*********************************
2. Body and some general stuff
*********************************/
:focus{
	outline: none !important;
}
*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	margin-bottom: 0px;
}
p
{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
	color: #969696;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(188,155,155,0.6);
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
img
{
	max-width: 100%;
}
button:active
{
	outline: none;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.super_container_inner
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.super_container_inner.active
{
	-webkit-transform: translateX(280px);
	-moz-transform: translateX(280px);
	-ms-transform: translateX(280px);
	-o-transform: translateX(280px);
	transform: translateX(280px);
}
.super_overlay
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	background: rgba(0,0,0,0.75);
	z-index: 101;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.super_container_inner.active .super_overlay
{
	visibility: visible;
	opacity: 1;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.section_title
{
	font-size: 36px;
	font-weight: 700;
	color: #4a4a4a;
	line-height: 1.2;
}


/*********************************
3. Header
*********************************/

.header
{
	display: block;
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #FFFFFF;
	z-index: 100;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.75);
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.active .header_overlay
{
	visibility: visible;
	opacity: 1;
}
.header_content
{
	width: 100%;
	height: 79px;
	padding-left: 20px;
	padding-right: 42px;
}
.logo a > div > div:last-child
{
	padding-left: 15px;
	font-size: 24px;
	font-weight: 700;
	color: #4a4a4a;
}
.logo_cpl
{
	margin-top: 30px;
	width: 300px;
}

.svg path, .svg rect, .svg polygon
{
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.svg:hover rect,
.svg:hover polygon
{
	fill: #2fce98;
}

/*********************************
4. Registration Page Body
*********************************/

#regimargin {
	margin-top: 120px;
	padding-top: 40px !important;
	padding: 100px;
}

.button2 input[type="submit"] {
	float: left;  /* CREARLI STILE BOTTONI ITEK */
	border: 1px solid black;
	font-size: 16px;
	font-weight: 700;
	font-style: italic;
	width: 156px;
	padding: 12px 30px;
	border-radius: 0;
	color: white;
	text-align: center;
	background: #2fce98;
	position: relative;
}

.button2 input[type="submit"]:hover {
	background: white;
	color: #2fce98;
}

.register-top-grid h3, .register-bottom-grid h3 {
	color: #2fce98;
	padding-top: 10px;
	font-size: 1.3em;
	padding-bottom: 5px;
	font-weight: bold;
	margin: 0;
}

.register-top-grid div, .register-bottom-grid div {
	width: 48%;
	float: left;
	margin: 10px 0;
}

.register-top-grid span, .register-bottom-grid span {
	color:#555;
	font-size: 0.8125em;
	font-weight: bold;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}

.register-top-grid input[type="text"] {
	border: 1px solid #EEE;
	outline-color:rgb(0, 204, 255);
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}

.register-top-grid input[type="email"] {
	border: 1px solid #EEE;
	outline-color:rgb(0, 204, 255);
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}

.setButton {
	margin-top: 25px;
	float: center;
}

.register-bottom-grid input[type="password"] {
	border: 1px solid #EEE;
	outline-color:#2fce98;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}

.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
}

.checkbox {
	float: left;
	margin-left: 8px;
	position: relative;
	font-weight: 600;
}

.checkbox:last-child {
	margin-bottom: 4px;
}

.checkbox:last-child {
	margin-bottom: 0;
}

.news-letter {
	color: #555;
	font-weight:600;
	font-size: 0.85em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}

.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #DDD;
}

.checkbox input + i:after {
	content: '';
	background: url("../img/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}

.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}

.checkbox input {
	position: absolute;
	left: -9999px;
}

.checkbox input:checked + i:after {
	opacity: 1;
}

.news-letter:hover {
	color: rgb(1, 53, 151);
}

.button1 {
	margin-top: 21%;
}

.remember {
	margin-top: 3%;
}

.button1 input[type="submit"],
fieldset.input input[type="button"],
fieldset.input input[type="submit"] {
	float: right;  /* CREARLI STILE BOTTONI ITEK */
	border: 1px solid black;
	font-size: 16px;
	font-weight: 700;
	font-style: italic;
	cursor: pointer;
	width: 156px;
	padding: 12px 30px;
	border-radius: 0;
	color: white;
	text-align: center;
	background: rgb(46, 204, 141);
	position: relative;
}

.button1 input[type="submit"]:hover,
fieldset.input input[type="button"]:hover,
fieldset.input input[type="submit"]:hover {
	background: #FAFAFA;
	color: rgb(46, 204, 141);
}

.login-page {
	border-right: 1px solid black;
	padding-right: 5%;
}

.login-page ul li {
	font-size: 1rem;
}

#login-form label {
	color: rgb(119, 119, 119);
	line-height: 2.8em;
	font-size: 0.95em;
	font-weight: bold;
	margin: 0;
	display: block;
}

input.inputbox, input.required, div.k2AccountPage input[type="text"] {
	background: #FFF;
	outline-color: rgb(46, 204, 141);
	border: 1px solid #EEE;
	color: #000000;
	padding: 7px 20px;
	width: 100%;
	font-size: 0.85em;
}

h4.title {
	color:rgb(46, 204, 141);
	margin-bottom: 0.5em;
	font-size: 1.2em;
	line-height: 1.2;
	font-weight: bold;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	border-bottom: 1px solid #ECECEC;
	padding-bottom: 13px;
}

#login-form label a {
	color: #777;
	font-size: 0.85em;
}

#login-form label a:hover {
	color:rgb(46, 204, 141)
}




